body {
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5rem;
    color:000;   
    line-height: 1.6;
}

.page-header {
    padding:1.6em ;
    margin-top: 0em;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.959);
  }
  
  .sticky + .container {
    padding-top: 102px;
  }

.me {
    display:inline-block;
    text-align:left;
    margin-bottom:0;
    font-weight: bolder;

}

ul {
    display:flex;
    align-items:stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-top:0;
    padding:0;
}

li {
    font-weight:bold;
    list-style: none;
    cursor: pointer;
    padding-right: 14px;
    padding-bottom: 1px;
    padding-left: 14px;
    border: 1px solid #fff;
}

li:hover  {background-color: #e4e4e4}


#self {
    border-radius: 50%;
    float:left;
    margin-right:17px;
}

.greetings {
    color:#2F2F2F;
}

h2 {
    text-align: left;
} 

.demo1 {

    margin-right: 20px;
}

.ab, .pro {

    margin-left: 120px;
    margin-right: 120px;
}
ul {
    margin-bottom: 5px;
}
.techicons {
    display:flex;
    padding: 20px;
    justify-content: flex-start;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1400px;
    height: 600px;
    padding: 10px;
    margin-top:20px;
    margin-left: 120px;
    margin-right: 120px;
    font-weight: bold;
   
 
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.81);
    background:#fff;
    color:rgba(0, 0, 0, 0.906);
  }
  

.fa:hover {
    opacity: 0.7;

  }
    
footer {
    display: flex;
    height: 75px;
    padding: 20px;
    justify-content: center;
    margin-top:10px;
  }
  
 