/* For mobile phones: */
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    line-height: 1.6;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .zurag {
      margin: auto;
  }
.project-screenshots{
    display: flex;
    justify-content: center;
}
  img {
      width:100%;
      height: auto;
  }
  
  ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

li {
    font-weight: bold;
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.me {
    margin-top:10px;
    font-size: 1.6em;
    cursor: pointer;
}
.menu {
    font-size: 1.1em;
    cursor:pointer;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}
p {
    font-size: 1.1em;
}
.heroHeadline {
    display: flex;
    margin-top: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 0.8em;
}

.box {
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

#self {
    height:100px;
    width:80px;
    border-radius: 50%;
    margin-top:40px;
    margin-right:10px;
}

.fa {
    padding: 7px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.81);
    background: #fff;
    color: rgba(0, 0, 0, 0.906);
}
#ho1, #ho2, #ho3 {
    padding: 7px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.81);
    background: #fff;
    color: rgba(0, 0, 0, 0.906);
}

img#creaTe {
    height: 25px;
    width: 58px;
    margin-bottom: 10px;
}

#bottom, small {
    display: flex;
    justify-content: center;
    padding: 0;
    width: auto;
}
small {
    font-weight: 700;
    color: rgba(41, 40, 40, 0.925);
}

.buttons {
    font-size: 1.3em;
}
  .text-center, #clickme{
      text-align: center;
  }
  header.page-header.sticky {
    flex: 1 100;
    background-color:#fff;
}
#navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(99, 5, 52, 0.89);
    background-color: rgba(102, 38, 71, 0.995);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  #overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  #navbar .de {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  #navbar .de:hover, #navbar .de:focus {
    color: #f1f1f1;
  }
  

  #navbar .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 80px;
  }

  ul#overlay-content {
    display: inline-table;
}

ul.techicons {
    width: 100%;
    justify-content: flex-start;
}
  a {
      text-decoration: none;
      color:rgba(255, 255, 255, 0.788);
  }
  .demo, .code {
      color:rgb(61, 52, 100);
      font-size: 1.1em;
      text-decoration: underline;
  }

  .demo {
      margin-right:10px;
  }

  .social {
      justify-content: center;
  }
  
  
 @media only screen and (min-width: 414px) {
    /* bigger phones: */
        
    .heroHeadline {
        font-size: 1.2em;
    }
    #clickme {
        font-size: 1.3rem;
        color:blue;
    }
        #self {
            height: 126px;
            width: 100px;
        }
        ul.techicons {
            width: 90%;
            justify-content: flex-start;
        }
        .fa {
            padding: 10px;
            font-size: 26px;
            width: 30px;
            border: 4px solid;
        }
       
        img#creaTe {
            height: 25px;
            width: 65px;    
    }   
    
 }

    @media only screen and (min-width: 768px) {
    /* For tablet: */
    html{
        padding: 24px 38px;
    }
    body {
        margin-left:100px;
        margin-right:100px;
    }
    .text-center {
        text-align: start;
    }
    #navbar {
        position: static;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        overflow: visible;
    }
    ul#overlay-content {
        display: inline-flex;
        position: static;
        width: 100%;
        margin-top:0;
    }

    #navbar .de {
        padding:0;
        font-size: 1.4em;
        color: #020202;
        display: block;
        transition: 0.3s;
    }
    #navbar .de:hover, #navbar .de :focus {
        color: #050505;
      }

    span {
        display: none;
    }
    #navbar .closebtn {
        display: none;
    }
    h2 {
        font-size: 1.5em;
    }

    .me {
    margin-top:30px;
    margin-bottom: 30px;
    }

    .heroHeadline {
        font-size: 1.2em;
    }
   
    span {
        font-size: 50px;
    }
    p {
        font-size: 1.5rem;
    }
    #self {
        height: 210px;
        width: 170px;
        margin-top: 30px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .fa {
        padding: 12px;
        font-size: 32px;
        width: 40px;
        border: 5px solid;
    }
    
    
    .demo, .code {
        font-size: 1.5rem;
    }

    img#creaTe {
        height: 36px;
        width: 89px;
    }
   ul.techicons {
        width: 100%;
    } 
    small {
        font-size:large;
    }
    #tolgoi {
        display: flex;
        justify-content: space-evenly;
    }
    
}
 
@media only screen and (min-width: 1024px) {
    html {
        padding: 22px 38px;
    }
    .pictures {
        height:450px;
        width: 700px;
    }
    .me {
        font-size: 1.8em;
        }

        #self {
            height: 245px;
            width: 199px;
            margin-left: 51px;
        }

        .heroHeadline {
            font-size: 1.4em;
        }
        
        .demo, .code {
            font-size: 1.5rem;
        }
        ul.techicons {
        width: 90%;
    } 

    #tolgoi {
        display: flex;
        justify-content: space-evenly;
    }
}

    @media only screen and (min-width: 1200px) {
        /* For Desktop: */
        .me {
            margin-top:20px;
        }
        .pictures {
            height:500px;
            width: 750px;
        }
            #self {
                height: 320px;
                width: 260px;
                margin-left: 51px;
            }
            img#creaTe {
                height: 40px;
                width: 124px;
            }
       
        }